body{        
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: url(../img/back.jpg);
    background-size: cover;
}
.container{
    width: 100%;
    margin: 0; 
}
.fixed-header, .fixed-footer{
    width: 100%;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;        
    background: #333;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}
.fixed-header{
    top: 0;
    left: 0;
}
.fixed-footer{
    bottom: 0;
    left: 0;
}    

nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
nav a:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
}
.container p{
    line-height: 200px; 
}

span{
    opacity: 0.4;
}

a img{
    align-items: center;
}

.img{
    padding-left: 100px;
}


.container1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.card {
    background-color: white;
    width: 270px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    margin-top: 80px;
    margin-bottom: 80px;;
   
}

.card-image {
    background-color: aqua;
    height: 180px;
    margin-bottom: 15px;
    background-size: cover;
}

.sherbime-1{
    background-image:url("../img/imgg111.jpg") ;
}

.sherbime-2{
    background-image:url("../img/imgg222.jpg") ;
}

.sherbime-3{
    background-image:url("../img/programming.jpg") ;
}
.sherbime-4{
    background-image:url("../img/prog4.webp") ;
}

.card p {
    padding: 0px 10px 10px 10px;
    margin-top: -15px;
    font-size: 18px;
}
.card h2 {
    padding: 10px;
}
.card a {
    background-color: black;
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 20px 70px;
    margin-top: -20px;
    text-decoration: none;
    border-radius: 25px;
}

.card:hover {
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
}
.card {
   align-content: flex-start;
}
.video {
    margin-bottom: 100px;
}

